<div class="container" >
    <h1 class="text-center" id="title">
      Pokemon 
    </h1>

  <div *ngIf="pokemons">
      <div *ngFor="let pokemon of pokemons" >
        <ng-container *ngIf="pokemon.detail | async  as detail ">
          <app-card [title]="pokemon.name" [subHeading]="detail.types">
            <h3>Abilities</h3>
            
              <ul><li *ngFor="let a of detail.abilities">{{ a.ability.name | capitalize}}</li></ul>
              <img [src]="getImageUrl(detail)" width="100px" height="100px">
              <div (click)="deletePokemon(pokemon)"><fa-icon  [icon]="['fas','trash-can']" class="btn btn-primary"></fa-icon></div>
            
          </app-card>
        </ng-container>
      </div>
  </div>

    
    

 

</div>
