<div class="container" [style.border]="'1px solid gray'" >

        <h1 class="text-center">Login</h1>
   
        <div class="alert alert-warning" role="alert" *ngIf="auth.error">
            {{auth.error.error.error }}
        </div>

        <form #f="ngForm" (submit)="login(f)">

            <div class="form-group " [style.margin-bottom]="'10px'" [style.margin-top]="'50px'">
                <label for="email">Email address</label>
                <input type="email" class="form-control" placeholder="email" name="email" [ngModel]="user?.email" required>
            </div>

            <div class="form-group" [style.margin-bottom]="'10px'">
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password" [ngModel]="user?.password" class="form-control" required >
            </div>


            <button type="submit"  class="btn btn-primary" [disabled]="!f.valid" [style.margin-top]="'20px'">Login</button>

            <div class="text-center">
                <a routerLink="/sign-up">Don't have an account? Sign Up.</a>
            </div>

        </form>
    
</div>
